{% extends 'template.html' %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}

<h1>Entrar</h1>

{% if erro %}
    <div class="message message-error">{{ erro }}</div>
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username">Usuário</label>
    <input type="text" name="username" id="username" placeholder="Seu usuário" required>

    <label for="password">Senha</label>
    <input type="password" name="password" id="password" placeholder="Sua senha" required>

    <input type="submit" value="Entrar">
</form>

<p style="display:inline; background:none; border:none; padding:0;">
    Não tem conta? <a href="{% url 'cadastro' %}">Cadastrar</a>
</p>

{% endblock %}
